{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Joldibaeva Nursulu</title>
    {% block style %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}

{% block script %}{% endblock %}
</body>
</html>