{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <h4>Картинки</h4>

    <section>
        {% for image in images %}
            <a href="{% url 'predict' id=forloop.counter0 %}">
                <img src="data:image/png;base64,{{ image }}" alt="">
            </a>
        {% endfor %}

    </section>
{% endblock %}